<body>

    <div class="row text-align-center">
        <div class="col-12" id="topS">
            <h1>Burger App</h1><br>
            <img src="assets/img/burgerFullsmall.png" alt="Burger pic">
            <h3>Add a Burger</h3>
            <form id="addBurger">
                <div class="form-group">
                    <input class="form-control" type="text" name="burger_name" id="burgerName">
                </div>
                <button type="submit" class="btn-primary">Make Burger</button>
            </form>
        </div>
    </div>

    <div class="container">

        <div class="row text-align-center">
            <div class="col-6 text-center" id="burgers">
                <h2>Burgers</h2>
                <img src="assets/img/burgerTop.png" alt="Burger Top" id="burgertop">
                <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
                </ul>
                <img src="assets/img/burgerBottom.png" alt="Burger Top" id="burgerbottom">
            </div>

            <div class="col-6 text-center" id="burgers">
                <h2>Eaten</h2>
                <img src="assets/img/burgerTop.png" alt="Burger Top" id="burgertop">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block}}
                    {{/if}}
                    {{/each}}
                </ul>
                <img src="assets/img/burgerBottom.png" alt="Burger Top" id="burgerbottom">
            </div>
        </div>
    </div>
</body>